name: Check compile

on:
  push:
  pull_request:
  workflow_dispatch:


jobs:
  check-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: sudo apt-get update

      - name: Install dependencies
        run: sudo apt-get install libgtk3-dev

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Check code
        run: cargo check

  check-win:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Check code
        run: cargo check

  check-mac:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Check code
        run: cargo check