name: Build for MacOS

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build-arm:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add target
        run: rustup target add aarch64-apple-darwin

      - name: Compile Rust
        run: cargo b --release --target aarch64-apple-darwin
        env:
          MACOSX_DEPLOYMENT_TARGET: "13.0"

      - name: Add artifact
        uses: actions/upload-artifact@v3
        with:
          name: sortphoto-arm
          path: ./target/aarch64-apple-darwin/release/sortphoto

  build-x64:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add target
        run: rustup target add x86_64-apple-darwin

      - name: Compile Rust
        run: cargo b --release --target x86_64-apple-darwin
        env:
          MACOSX_DEPLOYMENT_TARGET: "10.9"

      - name: Add artifact
        uses: actions/upload-artifact@v3
        with:
          name: sortphoto-x64
          path: ./target/x86_64-apple-darwin/release/sortphoto

  deploy:
    runs-on: macos-latest
    needs: [build-arm, build-x64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download arm executable
        uses: actions/download-artifact@v4.1.7
        with:
          name: sortphoto-arm
          path: ./sortphoto_arm

      - name: Download x64 executable
        uses: actions/download-artifact@v4.1.7
        with:
          name: sortphoto-x64
          path: ./sortphoto_x64

      - name: Apply liposuction
        run: lipo -create -output ./sortphoto ./sortphoto_x64/sortphoto ./sortphoto_arm/sortphoto

      - name: Copy binary to bundle
        run: cp ./sortphoto ./packaging/mac/bundle/Contents/MacOS/sortphoto
      - name: Make executable
        run: chmod +x ./packaging/mac/bundle/Contents/MacOS/sortphoto

      - name: Copy bundle to .app
        run: cp -r ./packaging/mac/bundle ./packaging/mac/sortphoto.app

      - name: Make installer package
        run: pkgbuild --install-location /Applications --component ./packaging/mac/sortphoto.app ./packaging/mac/sortphoto.pkg

      - name: mac-buld
        uses: actions/upload-artifact@v4
        with:
          name: macos-pkg
          path: ./packaging/mac/sortphoto.pkg
