name: Build for Windows

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build app
        env:
          RUSTFLAGS: -C target-feature=+crt-static
        run: cargo build --release

      - name: windows-exe
        uses: actions/upload-artifact@v4
        with:
          name: sortphoto-exe
          path: ./target/release/sortphoto.exe